%header {
  height: 30vh;

  div {
    @include flex(center, space-between);
    width: 90%;
    max-width: $max-width;
    margin: auto;
    padding-top: 7.5vh;

    h1 {
      text-transform: uppercase;
      font-weight: 700;
      font-size: 2rem;
      letter-spacing: 0.65rem;
    }
  }
}

.header {
  @extend %header;

  .theme-toggle {
    cursor: pointer;
    transition: all 250ms;

    &:hover {
      transform: scale(1.1) rotate(360deg);
    }
  }

  &.dark {
    background: url('../images/bg-desktop-dark.jpg');
    background-size: cover;
    background-position: center;
  }

  &.light {
    background: url('../images/bg-desktop-light.jpg');
    background-size: cover;
    background-position: center;

    h1 {
      color: #fff;
    }
  }
}
