.container {
  &.dark {
    .add-todo,
    .todo-list {
      background-color: $dark--very-dark-desaturated-blue;
    }

    .todo-list__task {
      border-bottom: 1px solid $dark--very-dark-grayish-blue2;
    }

    .todo-list__footer {
      li {
        span {
          &:hover {
            color: #fff;
          }
        }
      }
    }
  }

  &.light {
    .add-todo,
    .todo-list {
      background-color: #fff;
    }

    .add-todo {
      input {
        color: #222;
      }
    }

    .todo-list {
      &__task {
        border-bottom: 1px solid $light--light-grayish-blue;

        &:not(.complete) {
          &:hover {
            span:first-child {
              background-image: linear-gradient(#fff, #fff), linear-gradient($check-background);
            }
          }
        }
      }
    }

    .todo-list__footer {
      li {
        span {
          &:hover {
            color: #222;
          }
        }
      }
    }
  }
}
